[2015-07-21 07:24] mariobehling opened #1 "URL Redirect 2016.opentechsummit.net to opentechsummit.net"

[2016-04-18 11:38] mariobehling opened #2 "Substitute Subscribe with new service"
Please change it as it is here https://github.com/fossasia/fossasia-subscriptions
Example snippet:

[code]

_More Info/Requirements_*
- Use https://sendy.co
- In case you need the documentation of the API, it is here: https://sendy.co/api
- Repository http://fossasia.github.io/fossasia-subscriptions

[2016-04-24 21:41] mariobehling opened #3 "Add social media icons on top right. Generate them from JSON"
The spreadsheet where the JSON is generated from includes a sheet "Event" with links to the event and social media. Please include social media that have links in the page, when it is generated as shown in the picture.

![8e1e6a60-e840-11e5-8535-5d67b6fcf176](https://cloud.githubusercontent.com/assets/1583873/14770614/acc7220c-0a75-11e6-9134-3cc246ee8f88.png)

[2016-04-24 21:48] mariobehling opened #4 "Schedule: Add speaker photos to speaker sessions"
Please get the speakers photo from the spreadsheet into the JSON. In case there is no photo added leave the area empty (as is now).

Also make the speaker photo round shaped and reduce the size to keep the website loading quickly
![20912f2c-e8aa-11e5-9529-b7f9c10c182e](https://cloud.githubusercontent.com/assets/1583873/14770656/e29eb8c6-0a76-11e6-8910-34208e4465f3.png)

[2016-04-24 21:58] mariobehling opened #5 "Add a "Sign up" link for workshop or other sessions that need an additional sign up"
There is a column "Sign up" URL in the spreadsheet now, that needs to be transferred into the JSON.

The URL information of the page then links to the sign up page.

![c4b299b2-ebaa-11e5-81bb-9c98c2ab6421](https://cloud.githubusercontent.com/assets/1583873/14770710/4fe4c636-0a78-11e6-88bb-a2f537d1def5.png)

[2016-04-25 08:42] aayusharora commented on #3
@mariobehling  , Please point me to the JSON you are talking about .

[2016-04-25 10:18] #4 closed, assigned to nobody

[2016-04-25 11:55] mananwason commented on #3
@aayusharora This is the JSON https://github.com/OpenTechSummit/open-event-scraper/tree/master/out

[2016-04-25 12:25] mariobehling commented on #3
@mananwason Please do not share the spreadsheet URL publicly as there is private contact data in there. Thank you.

[2016-04-25 13:23] mananwason commented on #3
Sorry @mariobehling 😄

[2016-04-25 17:26] mariobehling opened #7 "Schedule: Linkify links in description e.g. of Nicco Kunzmann"
![screenshot from 2016-04-25 19 25 37](https://cloud.githubusercontent.com/assets/1583873/14792660/946c1bb2-0b1b-11e6-9bcb-99337ee59330.png)

[2016-04-25 18:38] mariobehling opened #8 "Schedule: Expand day menu on scroll over / Link to day section / smooth scrolling"
- [x] Expand day menu on scroll over
- [x] implement smooth scrolling like on main page

[2016-04-25 21:23] mariobehling opened #9 "Schedule: Change the anchor symbol to a link symbol for links"
You can see for example that Google uses the following symbol. Please sue the same for links.

![screenshot from 2016-04-25 23 22 35](https://cloud.githubusercontent.com/assets/1583873/14799434/c419aeb2-0b3c-11e6-8158-abbfbe9547f4.png)

Exchange the anchor as seen below.

![screenshot from 2016-04-25 23 24 19](https://cloud.githubusercontent.com/assets/1583873/14799464/e52a4940-0b3c-11e6-99f1-be76

[2016-04-26 08:21] niranjan94 commented on #8
@mariobehling I don't notice any smooth scrolling on the main page. Which one do you mean ?

[2016-04-26 08:37] #9 closed, assigned to niranjan94

[2016-04-26 09:18] mariobehling commented on #8
Please go to main page and click on the top menu "Presse". Instead of jumping it auto scrolls the page.

[2016-04-26 14:20] shivamMg commented on #1
@mariobehling Doesn't the domain provider for 2016.opentechsummit.net provide such service, because some of them do. Else we can do it with a php file.

[2016-04-26 14:40] aviaryan commented on #1
Yes the domain providers (godaddy or anyone else) do provide such a feature.
@shivamMg Php is out of the question because the site is hosted on github. (CNAME file)

[2016-04-26 14:59] mariobehling opened #15 "Schedule: Error in twitter links"
When I access http://opentechsummit.net/programm/, as I want to go to the Twitter profile of any of the speakers, I get a link to e.g. http://opentechsummit.net/programm/@picotcp where actually it should be e.g. https://twitter.com/@picotcp
It happens only in some profiles. With Twitter and with Github links.
[via Pablo]

[2016-04-26 15:07] aviaryan commented on #15
The scraper needs to be fixed. https://github.com/OpenTechSummit/open-event-scraper/blob/master/scraper.py
If we can fix the twitter and github url's generated from the scraper, then this issue will be fixed

PS - I was going to assign this to myself, just got a little late :disappointed:

[2016-04-26 15:08] niranjan94 commented on #15
@aviaryan wanna take it up ?

[2016-04-26 15:09] aviaryan commented on #15
Yes. Thanks

[2016-04-26 15:29] mariobehling commented on #1
I will do it, when I have time.

[2016-04-26 15:55] aviaryan opened #16 "Links and Bio of speakers set to "none" when empty"
For example, see Sandra Müllrick 's bio on http://opentechsummit.net/programm/

Also there are lot of links pointing to github.com/none and twitter.com/none

I am not sure about the "none" in bio part, maybe this is by design but the links pointing to _none_ is defintetly an issue.

[2016-04-26 15:57] aviaryan commented on #15
Opened PR https://github.com/OpenTechSummit/open-event-scraper/pull/9

[2016-04-26 16:30] #15 closed, assigned to aviaryan

[2016-04-26 16:52] #5 closed, assigned to niranjan94

[2016-04-26 16:54] #8 closed, assigned to nobody

[2016-04-26 17:26] aviaryan commented on #16
It looks like the 'none' comes from the spreadsheet itself rather than some fault in the scraper. I saw the spreadsheet and saw 2 speakers (row 21 and 22) have `none` in their github link fields. Also the bio field for Sandra is 'none' where it could have been empty.
So fixing those ambiguities and then running the travis will fix this issue.

[2016-04-26 17:26] aayusharora commented on #3
@aviaryan , Can you help me in this ?

[2016-04-26 17:34] aviaryan commented on #3
@aayusharora Sure. What can I do ?

[2016-04-26 17:41] aviaryan commented on #16
@mariobehling Should I do this ?

[2016-04-26 18:08] championswimmer commented on #16
For safety let's keep a check for field == 'none' and disable the field in client side js too ?

@mariobehling  @aviaryan

[2016-04-26 18:12] championswimmer commented on #3
/note : fa-facebook fa-twitter can be used from fontawesome (already being used in the page)

[2016-04-26 18:44] championswimmer commented on #3
@mariobehling We need to generate icons for all these services? https://github.com/OpenTechSummit/open-event-scraper/blob/master/out/services.json

[2016-04-26 20:43] mariobehling commented on #16
@championswimmer Speakers just wrote "none" because that field is required. Let's delete it in the spreadsheet and fill in sth. relevant later. Closing this issue therefore.

[2016-04-26 20:43] #16 closed, assigned to aviaryan

[2016-04-26 20:46] mariobehling commented on #3
@championswimmer Yes, please - just like shown on the top right in the mockup above.

[2016-04-26 20:46] mariobehling commented on #2
Good job.

[2016-04-26 20:46] #2 closed, assigned to mananwason

[2016-04-26 20:46] mariobehling commented on #2
Good job.

[2016-04-26 20:46] mariobehling commented on #2
Good job.

[2016-04-26 20:46] mariobehling commented on #3
@championswimmer Yes, please - just like shown on the top right in the mockup above.

[2016-04-26 20:47] mariobehling commented on #2
Good job.

[2016-04-26 20:47] mariobehling commented on #3
@championswimmer Yes, please - just like shown on the top right in the mockup above.

[2016-04-26 20:56] mariobehling opened #21 "Create a Google Calendar out of the Schedule and add an ical on the top right"
@sogko made a nice calendar thingy for FOSSASIA here: https://github.com/sogko/fossasia-2016-google-calendar

This enables us to get an ical as well. Please include the ical here: https://calendar.google.com/calendar/ical/oqrj3a93g17r1pgckrr2sv4klc%40group.calendar.google.com/public/basic.ics
1. [ ] Please create a Google calendar for OpenTechSummit
2. [ ] Find a way to automate so the calendar ge

[2016-04-26 21:03] mariobehling opened #22 "Clicking on the "link symbol" results in an expanding area with a link, that is pre-activated and can be copied"
Currently we have a simple link symbol. We would like to improve this feature similar to the "get a link feature" on youtube and other service.

Clicking on the "link symbol" should result in an expanding area with a link, that is pre-activated and can be copied.

![screenshot from 2016-04-26 22 57 57](https://cloud.githubusercontent.com/assets/1583873/14834127/120f93ae-0c03-11e6-86a8-3f75bd6681f1

[2016-04-26 21:07] aayusharora commented on #22
@mariobehling , I want to work for it .

[2016-04-26 21:20] mariobehling opened #23 "Schedule: Add a video icon link behind talk, if a video link is defined in JSON"
There is a video column now in the spreadsheet. The scraper can get the link from that column.

Please add a video icon link to the session (as shown below), if a link is defined.

![screenshot from 2016-04-26 22 57 57b](https://cloud.githubusercontent.com/assets/1583873/14834571/7014ad7a-0c05-11e6-89eb-27fa74b2ff09.png)

[2016-04-26 21:28] mariobehling opened #24 "Schedule: Add a slideshow link, if link is defined"
As in sample below:

![screenshot from 2016-04-26 22 57 57c](https://cloud.githubusercontent.com/assets/1583873/14834774/8f9f7480-0c06-11e6-971a-e3e6d92c60c1.png)

[2016-04-26 21:49] SaptakS commented on #24
There is no column for slides or videos. Where are the links for sildes and videos? Can you give an example?

[2016-04-27 03:34] aviaryan commented on #21
It looks like sogko's code auto publishes the ics to google calendar. That's good, we can run the calendar generator on Travis but it looks like the google calendar url will change with every update.
In other words using sogko's code we won't able to update a calendar, only create a new one.
@mariobehling Is that acceptable or the need is to keep updating a single calendar ?

ADDED -
If we need to

[2016-04-27 06:38] mariobehling commented on #23
@niranjan94 Please keep the icons in lign. Also the size should be similar. Nevertheless, we also want the icons to be easily clickable on mobile. Any suggestions?

![screenshot from 2016-04-27 08 37 01](https://cloud.githubusercontent.com/assets/1583873/14843804/667720f6-0c53-11e6-9ddf-c2357831e24a.png)

[2016-04-27 06:39] niranjan94 commented on #24
Resolved by PR OpenTechSummit/open-event-scraper#10

[2016-04-27 06:39] #24 closed, assigned to nobody

[2016-04-27 06:39] niranjan94 commented on #23
Resolved by PR OpenTechSummit/open-event-scraper#10

[2016-04-27 06:41] mariobehling commented on #3
@championswimmer
- [x] Please adapt the script in the way, that only icons are generated that have a link (where the field is not empty).
- [x] Please avoid empty spaces in the middle
- [x] Choose the "play" version of Youtube instead of the youtube logo. A video could also come from another service. Cheers.

![screenshot from 2016-04-27 08 38 43](https://cloud.githubusercontent.com/assets/1583873

[2016-04-27 06:46] niranjan94 commented on #23
@mariobehling I'll align it ... For mobile, we could have bigger buttons that are displayed on a new line.

Like:
![capture](https://cloud.githubusercontent.com/assets/2404372/14843993/e68e0af2-0c71-11e6-9580-6070b3597841.PNG)

[2016-04-27 06:54] mariobehling commented on #3
@championswimmer Well, in the spreadsheet "YouTube" is defined, but I would still vouch for using the other icon as most people just use one video service.

[2016-04-27 06:56] mariobehling commented on #3
@championswimmer When you make PRs could you also please show new live features on your repository in action, please? Please provide a link to the program on your github account for example.

[2016-04-27 07:00] mariobehling commented on #3
- [ ] In small screen/mobile version, please keep the icons in the main bar. Currently they are moving down.

![screenshot from 2016-04-27 08 59 11](https://cloud.githubusercontent.com/assets/1583873/14844265/82aec62c-0c56-11e6-842d-b17b55d5ffd9.png)

[2016-04-27 07:13] aditya1702 commented on #21
@aviaryan Agree with you
Could you help me out with this one?

[2016-04-27 08:37] championswimmer commented on #3
Ok making the changes and adding to this PR
On 27-Apr-2016 12:30, "Mario Behling" notifications@github.com wrote:

[2016-04-27 11:02] SaptakS commented on #3
@championswimmer for creating the json for service, the build.sh and run.sh needs to be modified. You have to include `python event.py` in both the files

[2016-04-27 11:05] SaptakS commented on #22
We need to merge this https://github.com/OpenTechSummit/open-event-scraper/pull/14 first. Otherwise the link generated on click is wrong presently. We will need to merge the PR to get the correct link.

[2016-04-27 11:27] #23 closed, assigned to niranjan94

[2016-04-27 11:54] SaptakS commented on #22
Fixed using https://github.com/OpenTechSummit/open-event-scraper/issues/12, https://github.com/OpenTechSummit/2016.opentechsummit.net/issues/27, https://github.com/OpenTechSummit/open-event-scraper/pull/14

[2016-04-27 12:08] mariobehling commented on #22
@SaptakS @niranjan94 Could you take out the slow expanding effect out, please? Just let the area expand. Also, should we use the same font/size as the heading for the text or a bit smaller?

[2016-04-27 12:34] niranjan94 commented on #22
Will do it an an hour once I get home. If anyone else can do it before that
and would like to do it , please reply comment here and proceed.

On Wed, Apr 27, 2016, 5:38 PM Mario Behling notifications@github.com
wrote:

[2016-04-27 12:43] shivamMg commented on #22
@niranjan94 I can take it up.

[2016-04-27 13:48] championswimmer commented on #3
@mariobehling
my and @shivamMg 's commits in this PR https://github.com/OpenTechSummit/open-event-scraper/pull/16 should solve all the mentioned issues.

[2016-04-27 14:01] championswimmer commented on #21
Basically we need to make an iCal (or make n iCals, where n = number of tracks; using @sogko 's track-separation logic, which is nice).

Google Calendar accepts creating a calendar with iCal, so just making an iCal should solve our purpose I am guessing.

[2016-04-27 16:13] mariobehling commented on #3
@championswimmer  The icons are still moving down. Should stay in line with the main menu.
![screenshot from 2016-04-27 18 10 43](https://cloud.githubusercontent.com/assets/1583873/14859274/bec5d950-0ca3-11e6-922d-b4410bb7bdff.png)

[2016-04-27 16:16] aayusharora commented on #3
@mariobehling , @mananwason Can I take this ?

[2016-04-27 17:15] aviaryan commented on #21
@championswimmer How do you propose to update the google calendar in case schedule and so ical updates ?

@aditya1702 The challenge with sogko's code is keeping the calendar link same across schedule updates. One solution I see is downloading the *.ics generated by the golang script to the scraper repo by Travis. That way atleast we will have a constant ical link. But the google calendar link is s

[2016-04-27 17:19] aayusharora commented on #3
![1](https://cloud.githubusercontent.com/assets/12194719/14861287/31a9d720-0cca-11e6-9a0a-abfaaf29f9d0.png)

[2016-04-27 17:19] aayusharora commented on #3
@mariobehling , do you want something like that .
1. What is the role of the Menu Button then ?

[2016-04-27 17:57] mariobehling commented on #3
@aayusharora Yes, please.

[2016-04-27 18:41] mariobehling commented on #3
@aayusharora the menu button shows the may 5 sessions. please dont change.

[2016-04-27 18:46] aayusharora commented on #3
@mariobehling , I think you are talking about the dropdown "Thu , May 5" sessions , but I am talking about the "Menu" button that appears on right top in mobile size . Till now it was displaying these icons on click , but now icons are shifted above .
I don't think it has utility now .

[2016-04-27 21:26] mariobehling commented on #3
@aayusharora I think you are confusing things. The menu button is necessary in small mobile sizes. Please check. Icons need to go up there.

[2016-04-28 04:26] shivamMg commented on #22
@mariobehling I've reduced the font-size [here](https://github.com/OpenTechSummit/2016.opentechsummit.net/pull/30). [This](https://github.com/OpenTechSummit/open-event-scraper/pull/18) takes care of the sliding toggle issue.

[2016-04-28 07:57] #22 closed, assigned to shivamMg

[2016-04-28 08:10] sogko commented on #21
**Warning: Massive wall of text. I'm a douche**

**Edit:** Formatting and such to help with you reading it. Sorry that I basically spewed my thoughts all over my keyboard.

**Edit 2:** Added recommendation (to use a CalDAV server and publish a `webcal` directly. Instead of using the approach of generating GCals, iCals etc)

---

Hey guys!

Been meaning to get in here earlier and help where I can,

[2016-04-28 08:41] sogko commented on #21
The google calendar (GCal) URL does not change. I store the calendar IDs in `data.json`. So the program will determine if `data.json` has a calendar ID. If it exists, use it. If not, create a new one (after which it will write to `data.json`)

That's one of the things that I took away from doing all this (see my notes above). Majority of Calendar applications accepts ical. But you would want webca

[2016-04-28 09:40] sogko commented on #21
Guys, I've updated my initial notes to include a recommendation on how you guys can proceed.
- Skip the whole generating GCals and `.ics` files. (My personal experience from the work that I put into: it was a pain in the ass. Don't do it.)
- Run a public CalDAV server that publishes a `webcal`.
- One CalDAV server implementation that I found:  [Radicale](http://radicale.org) (Python-based).
- I'm

[2016-04-28 10:28] mariobehling opened #31 "Submenu partly hidden in mobile/small screen view"
Please see screenshot below.
![screenshot from 2016-04-28 12 25 37](https://cloud.githubusercontent.com/assets/1583873/14883124/aa0739ac-0d3c-11e6-8e88-2309e5b16e4a.png)

[2016-04-28 10:56] shivamMg commented on #31
@mariobehling The `day-menu` id had some styles defined that made the drop-down to toggle on hover. Hover property is useless on mobile devices, and on desktops it hides the date by toggling drop-down over it. It looks much better with the default drop-down properties. [This](https://github.com/OpenTechSummit/open-event-scraper/pull/20) takes out the `day-menu` id, and I've [removed](https://githu

[2016-04-28 10:59] niranjan94 commented on #31
@shivamMg see closed issue #8 ... That's the reason the hover was added. We could adjust the `top` property such that the day is not hidden in desktop.

[2016-04-28 11:01] niranjan94 commented on #31
We could also put the hover styles inside a media-query such that they're not considered on a mobile device.

[2016-04-28 11:02] aayusharora commented on #31
@mariobehling  , @shivamMg  , working for the same ,Why we are not concerned with hover .

[2016-04-28 11:08] aayusharora commented on #31
@shivamMg , I got it , the hover seems confusing to me , a click with a toggle is already there , removing hover for mobile is best option .

[2016-04-28 11:09] shivamMg commented on #31
@niranjan94 I still think it's better to have a simple drop-down. The one now, opens up over the date, effectively hiding it. Let @mariobehling decide. If he says, I'll make changes accordingly. Here's a [screenshot](https://i.imgur.com/Iqp7tnk.png) of how it looks now.

[2016-04-28 11:13] niranjan94 commented on #31
@mariobehling @shivamMg Check this out.
https://niranjan94.github.io/2016.opentechsummit.net/programm/

[2016-04-28 11:16] niranjan94 commented on #31
#33 retains the hover feature and fixes the issues :smile:

[2016-04-28 11:17] shivamMg commented on #31
@niranjan94 Looks much better :+1:

Closing this in favor of https://github.com/OpenTechSummit/2016.opentechsummit.net/pull/33

[2016-04-28 11:22] shivamMg commented on #31
Lol! I closed the issue instead of the PR :sweat_smile: . Reopening now.

[2016-04-28 11:36] niranjan94 commented on #3
This issue is resolved now ... Right ? By OpenTechSummit/open-event-scraper#19 .

[2016-04-28 11:42] niranjan94 opened #34 "Removal of unused files on the repo"
The following **28 files** are unused and could be removed. @mariobehling what do you think ?
- [x] `css/theme-camaro.css`
- [x] `css/theme-dandelion.css`
- [x] `css/theme-debbie.css`
- [x] `css/theme-deepblue.css`
- [x] `css/theme-grass.css`
- [x] `css/theme-gunmetalpurple.css`
- [x] `css/theme-haemo.css`
- [x] `css/theme-handbag.css`
- [x] `css/theme-hot.css`
- [x] `css/theme-humblebumble.css`
-

[2016-04-28 11:42] aayusharora commented on #3
@niranjan94 , working it is not align yet , give me a minute.

[2016-04-28 11:59] niranjan94 commented on #3
@aayusharora My bad :sweat_smile: ... Take your time :smile:

[2016-04-28 12:06] aayusharora commented on #3
@mariobehling  , solved here #35 :) , { will generate my repo for preview soon }

[2016-04-28 12:08] #3 closed, assigned to nobody

[2016-04-28 13:48] aviaryan commented on #21
@sogko Thanks for your help. Your essay :smile_cat: was an entertaining and informational read. Now getting to the point, I don't know much about CalDAV server so it would be tough to get it working.
BTW, I think that going till GCals + GCal-ICS will fulfill our needs (the 3 points mentioned by @mariobehling in OP)
1. As the Google Cal link will stay constant, we would have a Google Calendar for O

[2016-04-28 14:22] aditya1702 commented on #21
@aviaryan Ok :)

[2016-04-28 16:02] aviaryan commented on #21
@mariobehling Here is the OpenTechSummit calendar https://calendar.google.com/calendar/render?cid=t3sacg6lr2s85f51ujggg0usk4@group.calendar.google.com
The corresponding ICS would be https://calendar.google.com/calendar/ical/t3sacg6lr2s85f51ujggg0usk4%40group.calendar.google.com/public/basic.ics

I will set the automated calendar updates soon.

[2016-04-28 19:33] aviaryan commented on #21
The Travis build is functional now. https://travis-ci.org/aviaryan/opentechsummit-2016-calendar
The repo is in my account right now. https://github.com/aviaryan/opentechsummit-2016-calendar Should I transfer it to OpenTec organisation ?

Since the calendar script generates calendar from the json generated in the scraper repo, so we will need to modify the travis.yml of scraper repo to be able to t

[2016-04-29 07:07] mariobehling opened #37 "Schedule: Some photos are not added"
Some photos of speakers are not generated in the schedule.
![screenshot from 2016-04-29 09 06 25](https://cloud.githubusercontent.com/assets/1583873/14909983/c5f62698-0de9-11e6-98a3-60395768b983.png)

Added some manually now, but they are not generated through the script.

[2016-04-29 10:17] shivamMg commented on #37
@mariobehling Do you mean after running `scraper.py` and `event.py`?

[2016-04-29 10:41] mariobehling commented on #37
@shivamMg Yes.

[2016-04-29 10:51] shivamMg commented on #37
@mariobehling I ran the script and it is extracting these images (the ones missing in the screenshot). I think when you accessed the page at that point the images were not included in the speakers directory. The image tag was rendered, that means it must had a URL (src).

[2016-04-29 11:03] mariobehling commented on #37
@shivamMg Try to run it on your repository. Images do not get rendered. When i add a new image it does not work.

[2016-04-29 11:22] shivamMg commented on #37
@mariobehling I'm a little confused. They seem to be working on my repo.

Where do you add the image?

[2016-04-29 11:39] mariobehling commented on #37
a new speaker with an image - in the spreadsheet.

[2016-04-29 11:40] shivamMg commented on #37
@mariobehling can you come on gitter channel, i need to understand the flow.

[2016-04-29 11:48] mananwason commented on #37
@mariobehling Can you share an example. As I see, all images are visible on the main website [here](http://opentechsummit.net/programm/)

[2016-04-29 11:56] shivamMg commented on #37
@mariobehling Alright, you're right. Many images are not being downloaded by the scraper, or if they are, they are not proper images.

@mananwason See "IBM Cloud Storage" and below. You won't see any images.

[2016-04-29 12:03] mananwason commented on #37
@shivamMg That's not what @mariobehling is talking about I suppose because those images are not visible as they're not listed in the sheets. If not, can you point me to one case where the photo is missing and it's listed in the sheets.

[2016-04-29 12:06] shivamMg commented on #37
@mananwason can you come over to the channel?

[2016-04-29 19:24] aayusharora commented on #34
@mariobehling  I think , It can be closed for now . Closing this :)

[2016-04-29 19:24] #34 closed, assigned to nobody

[2016-04-29 22:15] mariobehling opened #39 "Schedule: Change time format from AM/PM to continental 24h format"
e.g. instead of 1 pm change to 13:00

Could be changed in spreadsheet and then in scraper.

[2016-04-30 03:28] shivamMg commented on #39
@mariobehling Here: https://github.com/OpenTechSummit/open-event-scraper/pull/22

[2016-04-30 03:30] shivamMg commented on #39
@mariobehling https://github.com/OpenTechSummit/open-event-scraper/pull/22

[2016-04-30 04:20] mariobehling opened #40 "Change Date format to include German"
Change the date format to

**Do. 5. Mai / Thu. 5th May**

so both German and English show up instead of "Thu, 5th May" only.

[2016-04-30 04:22] mariobehling commented on #39
@shivamMg Good job!

[2016-04-30 04:38] #39 closed, assigned to nobody

[2016-04-30 04:40] championswimmer commented on #40
Will do this.

[2016-04-30 04:41] championswimmer commented on #40
@mariobehling It should always show both formats, or any option to select German/English ?

[2016-04-30 11:38] mariobehling opened #41 "Implement Logo Image and Ico in Scraper, JSON and Website"
I have added a new sheet "Images" to the spreadsheet. Please get the logo and ico from here in the same way as the pictures of speakers.

The logo on the top left should be linked to the link to the URL defined in the sheet "Event" in the row "Event Main Page"

[2016-04-30 12:18] mariobehling opened #42 "What possibilities are there to tweet the sessions automatically"
How could we tweet the sessions automatically including
- Session topic
- Speaker twitter name e.g. @speakername
- now at "Event Hashtags" e.g. #OTS #Berlin
- the speaker photo
- link to the sessions

E.g. Suchmaschinen der Zukunft @0rb1t3r now at #OTS #Berlin http://opentechsummit.net/programm/#OT-10

[2016-04-30 14:55] championswimmer commented on #42
Doesn't twitter allow tweet scheduling?
On 30-Apr-2016 17:48, "Mario Behling" notifications@github.com wrote:

[2016-04-30 15:04] mariobehling commented on #42
@championswimmer Actually, I am looking for answers not questions. It would be great, if you help to research. There is tweetdeck, that has scheduling features, but we need a more automatic way to schedule tweets that are generated from the JSON.

[2016-04-30 15:18] SaptakS commented on #42
We can create a cronjob to check at regular interval the json files and find if there is some session at that time. If there is a session, we can post that in twitter. For automating posting in twitter, we can use this: https://videlais.com/2015/03/02/how-to-create-a-basic-twitterbot-in-python/

[2016-04-30 16:48] championswimmer commented on #42
@mariobehling We are to assume the schedule can change till the last moment
right?

Yes it will need to be a cron job type of thing.

Yes there is an api at Twitter for scheduling tweets, I looked that up.
I am looking at how a cron job can be used to trigger the tweets.
On 30-Apr-2016 20:48, "Saptak Sengupta" notifications@github.com wrote:

[2016-05-01 09:53] mariobehling commented on #40
@championswimmer Thank you. Now, please
- [x] move German to front
- [x] take out "0".
- [x] "." behind number in German

Format should be:

**Do. 5. Mai / Thu. 5th May**
![screenshot from 2016-05-01 11 51 51](https://cloud.githubusercontent.com/assets/1583873/14941189/44e1ea3c-0f93-11e6-964c-7837b41ff0ec.png)

[2016-05-01 10:07] championswimmer commented on #40
Take out zero from both English and German ?

On 1 May 2016 at 15:23, Mario Behling notifications@github.com wrote:

[2016-05-01 10:24] championswimmer commented on #40
@mariobehling done here https://github.com/OpenTechSummit/open-event-scraper/pull/24

[2016-05-01 10:34] mariobehling opened #43 "loklak fetcher only shows very old tweets"
Any ideas? I looked at the config. Looks correct to me.

![screenshot from 2016-05-01 12 33 14](https://cloud.githubusercontent.com/assets/1583873/14941381/062da3fc-0f99-11e6-8698-f3db46bcf3a3.png)

[2016-05-01 11:08] mariobehling commented on #40
Good job! It is a good practice to work together on some small issues at the beginning. Let's pay attention to those small things to save us all some time over the summer.

[2016-05-01 11:08] #40 closed, assigned to championswimmer

[2016-05-01 12:25] championswimmer commented on #40
Yes definitely :)
On 01-May-2016 16:38, "Mario Behling" notifications@github.com wrote:

[2016-05-01 12:28] rafalkowalski commented on #43
I'm not able to reproduce this bug

[2016-05-01 12:54] jigyasa-grover commented on #43
Same here @mariobehling . It shows latest (1 day old) tweets here.

![screenshot from 2016-05-01 18 23 11](https://cloud.githubusercontent.com/assets/9291400/14941891/ec39062c-0fc9-11e6-8c30-abd333af2406.png)

[2016-05-01 12:57] jigyasa-grover commented on #1
@mariobehling Works fine.
Closing this issue.

[2016-05-01 13:06] mananwason commented on #1
@jig08 No it doesn't. Ideally it should redirect to http://opentechsummit.net.

[2016-05-01 13:18] mariobehling commented on #43
PR has been merged already. Issue is fixed. Thanks!

[2016-05-01 13:18] #43 closed, assigned to rafalkowalski

[2016-05-01 14:11] mariobehling commented on #31
Issue still persists on Android 4. Tested on Samsung Nexus.

[2016-05-01 14:12] mariobehling commented on #31
Sorry, my mistake. Needed a hard refresh. All good.

[2016-05-01 14:12] #31 closed, assigned to nobody

[2016-05-01 14:31] mariobehling opened #45 "Schedule: Mobile View - If there is only one day, enable expand all with one click on menu already"
Currently in mobile view, the script add a "menu" link on the right. In order to expand the tracks of each day, it is necessary to click two times (a. on the menu icon and b. on the date - 5th May). This feature is correct if there are several days of an event. If there is only one day, there is no reason why two clicks should be required. Please change the script accordingly:
If there is only one

[2016-05-01 15:09] championswimmer commented on #45
Further explanation

Step 0 ![screenshot from 2016-05-01 20 35 31](https://cloud.githubusercontent.com/assets/1327050/14942519/a842b266-0fdc-11e6-8b4a-9ae899034134.png)

Step 1 ![screenshot from 2016-05-01 20 35 37](https://cloud.githubusercontent.com/assets/1327050/14942518/a83f3dfc-0fdc-11e6-9b1b-e5fe48ab6869.png)

Step 2![screenshot from 2016-05-01 20 35 43](https://cloud.githubusercontent.com/

[2016-05-01 15:30] mariobehling commented on #7
@niranjan94 Please also linkify links in bio info, e.g. here http://opentechsummit.net/programm/#MS-15

[2016-05-01 15:49] niranjan94 commented on #7
@mariobehling will do

[2016-05-01 21:24] mariobehling commented on #7
@niranjan94 looks like the changes resulted in getting the description and everything bold.

![screenshot from 2016-05-01 23 23 14](https://cloud.githubusercontent.com/assets/1583873/14944467/e76b32d0-0ff3-11e6-9c4c-3988e58f1248.png)

[2016-05-02 03:50] niranjan94 commented on #7
@mariobehling no I don't think this commit caused that.
You can see the demo here: http://opentechsummit.net/programm/#MS-15

Everything seems to be fine.

[2016-05-02 06:46] shivamMg commented on #41
@mariobehling https://github.com/OpenTechSummit/open-event-scraper/pull/26

Copy&Paste the downloaded Logo and Ico images the same way you do with Speaker images.

[2016-05-02 09:06] mariobehling commented on #7
Ok, I am opening an new issue. The bold text is there with Firefox.

[2016-05-02 09:06] #7 closed, assigned to niranjan94

[2016-05-02 09:07] mariobehling opened #46 "Schedule: Text of description is bold in Firefox"
It should not be bold. Cannot see where the change happened.

![screenshot from 2016-05-02 11 04 54](https://cloud.githubusercontent.com/assets/1583873/14950974/1690bb2c-1056-11e6-9f9d-d861669cd7e1.png)

[2016-05-02 09:26] mariobehling commented on #41
Please do not put these images in speakers image folder. They should go in /img subfolder.

Reverted your last commit as it did not show the logo. Please add a link to your github pages fork, so we can see the changes working in future.

![screenshot from 2016-05-02 11 21 53](https://cloud.githubusercontent.com/assets/1583873/14951375/c12cbc78-1058-11e6-9f80-ee474d9ae012.png)

[2016-05-02 09:55] mariobehling opened #47 "Schedule: Links - website, github etc. - are not generated for session"
The Nitrokey session does not show the links that are listed in the spreadsheet.

![screenshot from 2016-05-02 11 54 38](https://cloud.githubusercontent.com/assets/1583873/14951944/ca2dad7e-105c-11e6-91c2-f2609020d557.png)

[2016-05-02 10:32] aayusharora commented on #46
@mariobehling , Solving it

[2016-05-02 11:35] shivamMg commented on #41
@mariobehling Working on it now.

[2016-05-02 12:05] the-dagger commented on #46
@mariobehling Seems to works fine here.
![selection_015](https://cloud.githubusercontent.com/assets/6565270/14953980/3a926f12-108c-11e6-9ac6-8c16a06191b7.png)

[2016-05-02 12:13] mariobehling commented on #46
This is weird. I wonder if it is related to Google fonts. I had some blocking of Google as they seemed to have a lot of traffic from my IP range.

[2016-05-02 12:15] the-dagger commented on #46
I double checked this by booting into windows and it works perfectly fine there too.

[2016-05-02 12:24] mananwason commented on #37
@mariobehling I think this is resolved, so closing it.

[2016-05-02 12:24] #37 closed, assigned to nobody

[2016-05-02 12:25] shivamMg commented on #41
@mariobehling Here: https://github.com/OpenTechSummit/open-event-scraper/pull/28

[2016-05-02 12:58] mariobehling opened #48 "Make spreadsheet private and access with key, config or other solution to keep the Google spreadsheet private"
The discussion so far below. Let's follow up here.

@SaptakS @championswimmer is there any way to allow access to the spreadsheet only to registered users and still have a working scraper? Could we somehow let the scraper run through a google account authentication?
The problem is that currently all private data is public too.
@leto waves

Arnav Gupta @championswimmer Apr 27 18:54
@mariobehling i

[2016-05-02 12:59] mariobehling commented on #48
Pablo suggests:
the simplest/fastest solution I could suggest is to keep the Spreadsheet URL in a config file and do not push the config into a public Git repo.

[2016-05-02 13:01] rafalkowalski commented on #47
@mariobehling i've discovered where bug occured. You have to add some Bio to spreadsheet to Jan Suhr(Nitrokey)

[2016-05-02 14:06] niranjan94 commented on #48
Users with write access to the repo can set a secret environment variable at
https://travis-ci.org/OpenTechSummit/open-event-orga-server/settings .

We can set the API key there and refer the environment variable in our script.

[2016-05-02 14:36] mariobehling commented on #47
Ok, yes, that solved it. Cheers!

[2016-05-02 14:36] #47 closed, assigned to rafalkowalski

[2016-05-02 15:37] mananwason commented on #48
@mariobehling We can basically create a config file which will contain the sheet Id (Without which the sheet can't be accessed), add the config file to gitignore and import it in scraper.py. Then we can just share the file over drive to the relevant people.
As for automation, we can store this file on heroku with only people having access to heroku able to see it. I think this should solve the pro

[2016-05-02 16:39] championswimmer commented on #48
travis encrypt GDOCS_SHEET_URL=https://.....

That should do it if I am not wrong?
If we agree on that, I'll put a PR with this method
On 02-May-2016 21:07, "Manan Wason" notifications@github.com wrote:

[2016-05-02 16:41] championswimmer commented on #46
Working fine for me too
On 02-May-2016 17:45, "Harshit Dwivedi" notifications@github.com wrote:

[2016-05-02 16:58] mariobehling commented on #48
@niranjan94 @championswimmer @mananwason It all sounds good. All we need is a method that works. We do not want to test if it works or not on the live repo. Please show us that is works and make a PR then.

[2016-05-03 05:29] aayusharora commented on #46
@mariobehling  I have checked it on two systems , its working fine for me , but it is firefox version dependent . Also , I have checked all the CSS and find nothing , the problem I have figured out is with Open Sans font , which render differently for Firefox and chrome , Problem is with Version 47.0  Beta 1 firefox.

[2016-05-04 15:07] aviaryan commented on #42
AppVeyor CI looks to have a good cron scheduling feature. https://www.appveyor.com/docs/build-configuration#scheduled-builds
TravisCI has no cron and CircleCI has a very limited (nightly) cron.
We can use AppVeyor to run builds every 5 or 10 mins that will run a script (in Python, Tweepy) that takes the output json and tweet out sessions in nearby time range.

Another very easy way to setup would

[2016-05-10 13:52] mariobehling opened #49 "Implement Audio field for sessions similar to video"
We have an rss feed with links to audio files here https://voicerepublic.com/series/open-tech-summit-2016.rss
- [x] Add audio links to spreadsheet manually (OTS1 and OTS2) from above rss file
- [x] Scrape audio files and add them into subfolder /audio
- [x] Add audio button into program with a link

[2016-05-10 18:32] mariobehling opened #50 "Add Slides to programm"

[2016-05-12 16:22] #50 closed, assigned to hpdang

[2016-05-19 19:13] #46 closed, assigned to nobody

[2016-05-19 19:14] #45 closed, assigned to nobody

[2016-05-19 19:14] mariobehling commented on #42
Let's follow up on this feature in the fossasia open event app.

[2016-05-19 19:14] #42 closed, assigned to nobody

[2016-05-19 20:03] #1 closed, assigned to mariobehling

[2016-05-26 22:00] mariobehling commented on #49
Unfortunately the tracks are not rendered anymore after this update: http://2016.opentechsummit.net/programm/

[2016-05-26 22:07] mariobehling commented on #41
@shivamMg All programm data should be in one folder (2016.opentechsummit.net/programm). Apparently you now put the images into a folder above. Please add images into 2016.opentechsummit.net/programm/img/ and keep speakers in the folder 2016.opentechsummit.net/programm/speakers/

[2016-05-26 22:14] mariobehling commented on #49
Also item number 2 is not implemented. Please add the audio files into a subfolder. This can be generated just like the speaker photos.

[2016-05-27 13:22] championswimmer commented on #49
@mariobehling

I can play the audios right now at http://2016.opentechsummit.net/programm/
please recheck ?

[2016-05-28 14:44] mariobehling commented on #49
Please read carefully my previous comments.
- [x] Scrape audio files and **add them into subfolder /audio**
- [x] The sessions are not sorted into tracks anymore

![screenshot from 2016-05-28 16 41 33](https://cloud.githubusercontent.com/assets/1583873/15627908/7a96cc36-24f3-11e6-82fe-682ffd7c9232.png)

[2016-05-29 13:21] championswimmer commented on #49
@mariobehling I am working on the audio downloading part, but the track going blank cannot be due to my commit.

Check https://github.com/OpenTechSummit/open-event-scraper/commit/3a6d563bec37801f48c6180bd04e68af67e29bb9
There is no way my code could regress the track folding.

I'll take a look at it anyway.

[2016-05-29 13:22] championswimmer commented on #49
It could be because of this
https://github.com/OpenTechSummit/open-event-scraper/commit/ce6575d7e1bcd2d5948a60757bbfa9d56449de08

@mananwason please check if that was regression because of your commit ?

[2016-05-29 18:11] mananwason commented on #49
@mariobehling @championswimmer Fixed the tracks.

[2016-05-30 03:55] championswimmer commented on #49
@mariobehling please take a look at this PR for saving mp3 files locally

https://github.com/OpenTechSummit/open-event-scraper/pull/31

[2016-05-30 05:44] shivamMg commented on #41
@mariobehling https://github.com/OpenTechSummit/open-event-scraper/pull/32: The image links generated will now link to `programm/img` dir. But this requires a `programm/img` dir which currently does not exist. So you need to merge this too: https://github.com/OpenTechSummit/2016.opentechsummit.net/pull/51

Demo: https://shivammg.github.io/2016.opentechsummit.net/programm/

[2016-05-30 15:18] mariobehling commented on #41
I do not know why you made a PR here. The scraper should do all the work. I merged your PR in the scraper, but there is a problem. The folder is img/img. Please check.

![screenshot from 2016-05-30 17 17 15](https://cloud.githubusercontent.com/assets/1583873/15653015/83985186-268a-11e6-8cd8-859508376f6e.png)

[2016-05-30 16:57] shivamMg commented on #41
@mariobehling I didn't write the correct rsync command for build.sh. It was copying entire directory instead of just images. This should fix it: https://github.com/OpenTechSummit/open-event-scraper/pull/33

[2016-05-31 11:37] shivamMg commented on #41
Implemented at https://github.com/OpenTechSummit/open-event-scraper/pull/33 and https://github.com/OpenTechSummit/open-event-scraper/pull/32

[2016-05-31 11:37] #41 closed, assigned to shivamMg

[2016-05-31 12:01] mariobehling opened #53 "Add sponsors on bottom of page with image"
I added a sheet "sponsors" to the spreadsheet. Please add a section "sponsors" to the end of the page with a list of logos in a row.
- [x] Create Sections based on Levels from the sheet
- [ ] Add logos into the folder /programm/img
- [x] Add links to logos
- [x] Create Alt tags based on name of sponsor

[2016-05-31 12:20] mariobehling opened #54 "Add Copyright Notice to footer of page"
Information on Copyright is available no at the end of the site. Please add a footer for this info to the very bottom of the page.

[2016-05-31 13:26] mariobehling commented on #49
Thanks! Closing it.

[2016-05-31 13:26] #49 closed, assigned to championswimmer

[2016-06-01 04:36] championswimmer commented on #54
[code]

That is good ?

[2016-06-01 06:55] mariobehling commented on #54
Please look in the spreadsheet. It should be generated from the JSON as well.

[2016-06-01 07:26] championswimmer commented on #54
Ok I got it 👍

[2016-06-01 08:36] mariobehling opened #55 "Also write JSON files as a reference into the folder when generating the web app"
Please include the JSON files in the directory /programm/json/

[2016-06-01 09:27] aayusharora commented on #55
@mariobehling , Working on it .

[2016-06-02 05:00] aayusharora commented on #55
@mariobehling  , @championswimmer  , Please see https://github.com/OpenTechSummit/open-event-scraper/pulls
Also we have to create an empty json folder in this repo under programm .

[2016-06-02 06:21] aayusharora commented on #55
@championswimmer , Do we still need to take jsons of this repo in the programm folder , as now after running build.sh it will add it to json folder .
Should I remove the jsons from this repo or Should I paste them in the  programm/json ?

[2016-06-02 06:23] championswimmer commented on #55
Clean the jsons that are here. It'll get automatically copied from now on

On 2 June 2016 at 11:51, @angularboy notifications@github.com wrote:

[2016-06-02 06:24] aayusharora commented on #55
But I cant commit a blank folder name json

[2016-06-02 06:24] aayusharora commented on #55
I need to have some files in it @championswimmer , I guess I should put jsons in programm/jsons

[2016-06-02 06:37] championswimmer commented on #55
For blank folders just add a empty .gitignore to the folder and add it :D

On 2 June 2016 at 11:54, @angularboy notifications@github.com wrote:

[2016-06-02 07:04] aayusharora commented on #55
@championswimmer  @mariobehling , Check this #56 Done

[2016-06-02 08:04] aayusharora commented on #53
@championswimmer , seems like , we can divide this work.

[2016-06-02 12:10] mariobehling opened #59 "Make schedule "self-containing" and generate css and all required files for web app in the subfolder"
The subfolder /programm is the place to keep all files for the schedule. We want to be able to move this schedule (programm) to any location on the web. E.g. we could save it as a zip and deploy it somewhere else.

Please generate the css and any other files in the folder or subfolder of /programm through the script.

[2016-06-02 12:19] mariobehling commented on #55
Good job. It is done through the scraper as desired.

[2016-06-02 12:19] #55 closed, assigned to championswimmer, aayusharora

[2016-06-02 13:16] aayusharora commented on #59
@mariobehling , Working on it .

[2016-06-02 14:17] aayusharora commented on #59
@mariobehling ,
1. I need a bit clearance for this . Should it be like a generic folder like programm , that contains all the files needed for index.html to work  .
2 .This will be done by making a build.sh in scraper repo , that after running will perform the above task.

[2016-06-02 15:42] mariobehling commented on #59
Ok, I don't know how you think the scraper is related to this. I can only repeat myself. The folder needs to work if I copy it somewhere else. If the css is in another folder it does not work.
@championswimmer Please help @aayusharora to clear up questions.

[2016-06-02 16:02] aayusharora commented on #59
Ok thanks @mariobehling

[2016-06-02 17:47] championswimmer commented on #59
@aayusharora
Right now, index.html in the programm folder depends on js/css includes from the root of the project.
What @mariobehling means to say is, make the `programm` folder fully self sufficient. Any of the required css and js files to be present in programm folder itself. Without needing the root directory.

[2016-06-02 19:12] aayusharora commented on #59
@championswimmer ,@mariobehling , solved here #60

[2016-06-03 05:31] championswimmer commented on #54
<img width="1216" alt="screen shot 2016-06-03 at 11 00 55 am" src="https://cloud.githubusercontent.com/assets/1327050/15769626/7be795e4-297a-11e6-8964-f16906ad5bf1.png">
Done

[2016-06-03 08:30] mariobehling commented on #59
@aayusharora Ok, looks like you updated the location of the css files, but not the location of the js files.

@championswimmer @aayusharora Also: Let's assume we have an empty repository and there is nothing inside. We want to generate the whole web app. Where do the css and js files come from?

[2016-06-03 08:39] mariobehling commented on #54
I just generated the schedule. Does have issues. Please have a look.
http://2016.opentechsummit.net/programm/
- [ ] Please add the link to the image

[2016-06-03 12:07] championswimmer opened #61 "css is not being included in programm/index.html"

[2016-06-03 12:08] championswimmer commented on #61
Has been fixed with this commit
https://github.com/OpenTechSummit/open-event-scraper/commit/03793b39f45099c932b61a7f162c5460b1b9b35a

@mariobehling check http://2016.opentechsummit.net/programm/ now. style is fixed

[2016-06-03 12:08] #61 closed, assigned to championswimmer

[2016-06-03 17:49] aayusharora commented on #59
@mariobehling , Consider this  #62 to generate CSS , JS files in empty repo, I have explained it , the issue is related .

[2016-06-03 17:51] aayusharora opened #63 "Adding JS files to make Schedule folder self-sufficient"

[2016-06-04 05:51] aayusharora commented on #59
@mariobehling , Working for the empty repository part to generate whole webapp .

[2016-06-04 08:26] aayusharora opened #64 "Adding CSS for footer"

[2016-06-04 08:27] aayusharora commented on #64
@mariobehling @championswimmer  , solved here https://github.com/OpenTechSummit/open-event-scraper/pull/38

[2016-06-04 13:03] aayusharora commented on #59
@mariobehling @championswimmer  it is solved https://github.com/OpenTechSummit/open-event-scraper/pull/37

[2016-06-04 13:03] #59 closed, assigned to championswimmer, aayusharora

[2016-06-04 13:04] aayusharora commented on #64
Solved https://github.com/OpenTechSummit/open-event-scraper/pull/38

[2016-06-04 13:04] #64 closed, assigned to aayusharora

[2016-06-04 13:07] aayusharora opened #65 "Markup for Sponsor section"

[2016-06-04 13:58] aayusharora opened #66 "CSS for Sponsor section"
@mariobehling @championswimmer  solved by PR https://github.com/OpenTechSummit/open-event-scraper/pull/39

[2016-06-04 13:59] aayusharora commented on #66
![logo](https://cloud.githubusercontent.com/assets/12194719/15799926/bfce2d6c-2a75-11e6-9ac6-4f5f8252904c.png)

[2016-06-04 14:27] aayusharora commented on #54
@mariobehling  , solved here https://github.com/OpenTechSummit/open-event-scraper/pull/39 .
![3](https://cloud.githubusercontent.com/assets/12194719/15800106/9f618e12-2a79-11e6-87fe-1a75cd283f1c.png)

[2016-06-04 15:01] aayusharora commented on #66
![5](https://cloud.githubusercontent.com/assets/12194719/15800319/641c81a4-2a7e-11e6-930a-d76a241b663e.png)

[2016-06-04 15:37] mariobehling commented on #66
Scaling is not done correctly. Width and length arent scaled in proportion.

[2016-06-04 17:13] aayusharora commented on #66
![9](https://cloud.githubusercontent.com/assets/12194719/15800974/3a3e8f96-2a90-11e6-9c14-70c02262ca22.png)

[2016-06-04 17:15] aayusharora commented on #66
@mariobehling  , scaling done .
![8](https://cloud.githubusercontent.com/assets/12194719/15801005/fe2b8738-2a90-11e6-8cfc-c0f107cbc601.png)

[2016-06-04 17:59] championswimmer commented on #66
Cool. I'll merge the PR and connect the generator right now then

[2016-06-04 20:14] aayusharora opened #67 "Error on running ./build.sh"
![5](https://cloud.githubusercontent.com/assets/12194719/15801835/15288300-2aaa-11e6-961a-c3d2f7f17434.png)

[2016-06-05 00:44] championswimmer commented on #53
The required functionality of this issue is done. We still need to fixup the css and alignment here and there

[2016-06-05 00:44] #53 closed, assigned to championswimmer, aayusharora

[2016-06-05 00:44] championswimmer commented on #67
Sending you sheet id privately

[2016-06-05 00:45] #67 closed, assigned to nobody

[2016-06-05 00:47] championswimmer commented on #66
Please check the generated page right now.
There are some more things to fix.
Can you generate a markup that does **not** need md-offset ? Because we should not depend on the 1st item of array to have offset when doing via generator.js. If you can center the row without offset would be great.

[2016-06-05 00:48] championswimmer commented on #65
This has been done by @aayusharora
Closing this

[2016-06-05 00:48] #65 closed, assigned to aayusharora

[2016-06-05 00:49] championswimmer commented on #54
@mariobehling where should the link point to ?

[2016-06-05 00:52] championswimmer commented on #54
Ok done. Copyright image is linked to license page.
The text **OpenTechSummit** links to OTS page.

[2016-06-05 00:52] #54 closed, assigned to championswimmer, aayusharora

[2016-06-05 00:53] championswimmer commented on #48
Closing this, as we have had a private SHEET_ID already now for a long time.

[2016-06-05 00:53] #48 closed, assigned to nobody

[2016-06-05 04:42] aayusharora commented on #66
@championswimmer , will do it

[2016-06-05 04:55] aayusharora opened #68 "Add a anchor tag "Sponsors" in navigation bar , with smooth scrolling to Sponsor section."
Already Solved by this https://github.com/OpenTechSummit/open-event-scraper/pull/39

[2016-06-05 09:50] #68 closed, assigned to nobody

[2016-06-05 22:53] aayusharora commented on #66
@championswimmer  Done !! check  https://github.com/OpenTechSummit/open-event-scraper/pull/40

[2016-06-06 06:56] #66 closed, assigned to aayusharora

[2016-06-07 12:01] #63 closed, assigned to aayusharora

[2016-06-07 12:03] mariobehling commented on #21
@sogko and @/all Thanks a lot for the input on this issue. We will implement the ics generation in the orga server in future. The part of how GCal is staying relevant but it looks like it is mostly out of our influence to update GCals in a timely manner. Closing the issue as we are moving on. Thank you!

[2016-06-07 12:03] #21 closed, assigned to aviaryan